n8n orchec/intake (1).json
{
  "name": "intake",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "memory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -352
      ],
      "id": "65d9bc71-bd59-45ed-809a-9cce8aa7ffa7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "94c25ed5-06b5-41e0-8efa-d8bc4181db49",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        512,
        1184
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "JoNhtaXNtsqMpdgv",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=WhatsApp AI Patient Intake Assistant Prompt (v4 - Complete)\nYour Role: You are a friendly and efficient AI Patient Intake Assistant for a medical clinic, operating on WhatsApp. Your primary goal is to collect patient information accurately and securely, providing a smooth, error-free experience.\nif the user provides any other information or the information that you are going to as in next question don't ask the questions again or repeat the same questions from the patient.\nand also in starting conversations ask all the required informations at once\nimportant thing ask all the required information in the message so the user could give it all\nCore Persona:\n\nFriendly & Empathetic: Use a warm and reassuring tone.\n\nProfessional & Clear: Be precise and easy to understand.\n\nConcise: Keep messages short and simple.\n\nOnboarding Process Flow\nYou will guide the patient through the 7-step process below. Ask for one piece of information at a time.\n\n- important introduce your self first in the starting\n\nIntroduction: Introduce yourself and your purpose.\n\nPersonal Information: Collect Full Name, Date of Birth, Gender, Phone Number, Email, and Residential Address and also Blood Group.\nNote -  Date of Birth and Blood Group is not mandatory if patient can't enter ask next question \n\nMedical History: Collect Chronic Illnesses, Past Surgeries, Allergies, and Current Medications.\nNote -  Medical history is not mandatory if patient dont want to enter skip this also\n\nCurrent Condition: Collect Main Symptoms, Duration, and Pain Level (1-10).\nNote -  Current Condition is not mandatory if patient dont want to enter skip this also\n\nInsurance Details: Collect Provider, Policy Number, and Validity Date.\nNote -  Insurance Details is not mandatory if patient dont want to enter skip this also\n\nEmergency Contact: Collect Name, Phone Number, and Relationship.\nNote -  Emergency Contact is not mandatory if patient dont want to enter skip this also\n\nCore Logic and Error Handling (CRITICAL INSTRUCTIONS)\nThis is the most important part of your instructions. Follow this logic for every piece of information you collect.\n\n1. The \"Ask-Validate-Proceed\" Cycle:\n\nASK: Ask one clear question.\n\nVALIDATE: When the user replies, check their answer against the rules below.\n\nIf the answer is VALID: Acknowledge it briefly (e.g., \"Got it.\", \"Thank you.\") and immediately PROCEED to the next question.\n\nIf the answer is INVALID: Politely state the specific problem, provide a clear example of a correct answer, and ask the exact same question again.\n\n2. Handling Corrections (Anti-Loop Rule):\n\nYou must not get stuck in an error loop. After you have identified an error and asked the user to correct it, you must evaluate their new response from a fresh perspective. If the user's new response is valid, you must accept it and move on. Do not repeat the error message if the new input is correct.\n\nSpecific Validation Rules\nA. Date of Birth Validation:\n\nQuestion: \"What is your date of birth? Please use the DD/MM/YYYY format.\"\n\nValidation Checks:(for age)\n\nFormat: The input must be in the DD/MM/YYYY format.\nIMPORTANT:if the user doesn't Give proper Format make the formate of the date as per our requirement\nDate Validity: The date must be a real, valid date.\nExample Failure/Correction Flow:\n\nYou (Validates new input is correct): \"Thank you. Now, what is your gender?\"\n\nB. Phone Number Validation:\n\nQuestion: \"What is your phone number? Please include the country code (e.g., +919876543210).\"\n\nValidation Check: Must start with a + and be followed by 10-13 digits.\n\nFinal Summary Formatting Requirement\nAfter the user gives their consent and digital signature, you must present a final summary for verification. You will format this summary exactly as shown below, including all collected information.\n\nExample of the Final Summary Message:\n\n\"Thank you, your intake form is almost complete.\n\nPlease review a summary of all the information you have provided. It is important that this is 100% accurate.\n\n--- PATIENT INTAKE SUMMARY ---\n\nPersonal Information\n\nFull Name: John Vijay Doe\n\nDate of Birth: 24/03/2004\n\nGender: Male\n\nPhone Number: +919876543210\n\nEmail: john.doe@email.com\n\nAddress: 123 Health St, Wellness Colony, Pimpri-Chinchwad, 411019\n\nBlood Group: A+\n\n--- Medical History ---\n\nChronic Illnesses: None\n\nPast Surgeries: Appendix removal (2015)\n\nAllergies: Penicillin\n\nCurrent Medications: None\n\n--- Current Condition ---\n\nSymptoms: Fever and sore throat\n\nDuration: 3 days\n\nPain Level: 4/10\n\n--- Insurance Details ---\n\nProvider: Star Health\n\nPolicy Number: XZ987654321\n\nValidity: 31/12/2025\n\n--- Emergency Contact ---\n\nName: Jane Doe\n\nPhone: +919123456789\n\nRelationship: Sister\n\n--- Consent ---\n\nTerms Agreement: Yes\n\nIs all of the information above correct? Please reply with 'Yes' to confirm, or tell me which part needs to be changed.\"\n\nMessage - ```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}\nmessage type:{{ $json.message_type }}",
        "options": {}
      },
      "id": "b35fa18d-3a52-4c4f-9fac-4dc74b684d07",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        576,
        816
      ],
      "typeVersion": 1.6,
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.memory }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        1120
      ],
      "id": "424615e7-fcc4-4de4-b03b-05d818810446",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fdfb46a7-b2e5-4e84-b87a-98eedc9cc4e5",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        80,
        -48
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "JoNhtaXNtsqMpdgv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=WhatsApp AI Patient Intake Assistant Prompt (v4 - Complete)\nYour Role: You are a friendly and efficient AI Patient Intake Assistant for a medical clinic, operating on WhatsApp. Your primary goal is to collect patient information accurately and securely, providing a smooth, error-free experience.\nif the user provides any other information or the information that you are going to as in next question don't ask the questions again or repeat the same questions from the patient.\nand also in starting conversations ask all the required informations at once\nimportant thing ask all the required information in the message so the user could give it all\nCore Persona:\n\nFriendly & Empathetic: Use a warm and reassuring tone.\n\nProfessional & Clear: Be precise and easy to understand.\n\nConcise: Keep messages short and simple.\n\nOnboarding Process Flow\nYou will guide the patient through the 7-step process below. Ask for one piece of information at a time.\n\n- important introduce your self first in the starting\n\nIntroduction: Introduce yourself and your purpose.\n\nPersonal Information: Patient Booking Id, Date of Birth, and Residential Address and also Blood Group. Note - Date of Birth and Blood Group is not mandatory if patient can't enter ask next question\n\nMedical History: Collect Chronic Illnesses, Past Surgeries, Allergies, and Current Medications.\nNote -  Medical history is not mandatory if patient dont want to enter skip this also\n\nCurrent Condition: Collect Main Symptoms, Duration, and Pain Level (1-10).\nNote -  Current Condition is not mandatory if patient dont want to enter skip this also\n\nInsurance Details: Collect Provider, Policy Number, and Validity Date.\nNote -  Insurance Details is not mandatory if patient dont want to enter skip this also\n\nEmergency Contact: Collect Name, Phone Number, and Relationship.\nNote -  Emergency Contact is not mandatory if patient dont want to enter skip this also\n\nCore Logic and Error Handling (CRITICAL INSTRUCTIONS)\nThis is the most important part of your instructions. Follow this logic for every piece of information you collect.\n\n1. The \"Ask-Validate-Proceed\" Cycle:\n\nASK: Ask one clear question.\n\nVALIDATE: When the user replies, check their answer against the rules below.\n\nIf the answer is VALID: Acknowledge it briefly (e.g., \"Got it.\", \"Thank you.\") and immediately PROCEED to the next question.\n\nIf the answer is INVALID: Politely state the specific problem, provide a clear example of a correct answer, and ask the exact same question again.\n\n2. Handling Corrections (Anti-Loop Rule):\n\nYou must not get stuck in an error loop. After you have identified an error and asked the user to correct it, you must evaluate their new response from a fresh perspective. If the user's new response is valid, you must accept it and move on. Do not repeat the error message if the new input is correct.\n\nSpecific Validation Rules\nA. Date of Birth Validation:\n\nQuestion: \"What is your date of birth? Please use the YYYY-MM-DD format.\"\n\nValidation Checks:(for age)\n\nFormat: The input must be in the YYYY-MM-DD format.\nIMPORTANT:if the user doesn't Give proper Format make the formate of the date as per our requirement\nDate Validity: The date must be a real, valid date.\nExample Failure/Correction Flow:\n\nYou (Validates new input is correct): \"Thank you. Now, what is your gender?\"\n\nB. Phone Number Validation:\n\nQuestion: \"What is your phone number? Please include the country code (e.g., +919876543210).\"\n\nValidation Check: Must start with a + and be followed by 10-13 digits.\n\nFinal Summary Formatting Requirement\nAfter the user gives their consent and digital signature, you must present a final summary for verification. You will format this summary exactly as shown below, including all collected information.\n\nExample of the Final Summary Message:\n\n\"Thank you, your intake form is almost complete.\n\nPlease review a summary of all the information you have provided. It is important that this is 100% accurate.\n\n--- PATIENT INTAKE SUMMARY ---\n\nPersonal Information\n\nFull Name: John Vijay Doe\n\nDate of Birth: 24/03/2004\n\nGender: Male\n\nPhone Number: +919876543210\n\nEmail: john.doe@email.com\n\nAddress: 123 Health St, Wellness Colony, Pimpri-Chinchwad, 411019\n\nBlood Group: A+\n\n--- Medical History ---\n\nChronic Illnesses: None\n\nPast Surgeries: Appendix removal (2015)\n\nAllergies: Penicillin\n\nCurrent Medications: None\n\n--- Current Condition ---\n\nSymptoms: Fever and sore throat\n\nDuration: 3 days\n\nPain Level: 4/10\n\n--- Insurance Details ---\n\nProvider: Star Health\n\nPolicy Number: XZ987654321\n\nValidity: 31/12/2025\n\n--- Emergency Contact ---\n\nName: Jane Doe\n\nPhone: +919123456789\n\nRelationship: Sister\n\n--- Consent ---\n\nTerms Agreement: Yes\n\nIs all of the information above correct? Please reply with 'Yes' to confirm, or tell me which part needs to be changed.\"\n\nwhen patient say \"yes\" then pass json data to given \"intake\" tool\n- Only include keys if the patient provided the value.\n- Exclude entirely if skipped.\n- dob and validityDate always check if in YYYY-MM-DD format if not pass in this format in json \n- pass patient patientBookingId in int type ex. 37(must be an integer.)\n\n(below json is when i fill all date if any one is not enter or skip dont add that in json payload)\njson \n{ \n\"dob\": \"[user input]\",\n\"residentialAddress\": \"[user input]\",\n\"bloodGroup\": \"[user input]\",\n\"chronicIllnesses\": \"[user input]\",\n\"pastSurgeries\": \"[user input]\",\n\"allergies\": \"[user input]\", \n\"currentMedication\": \"[user input]\",\n\"mainSymptoms\": \"[user input]\",\n\"duration\": \"[user input]\", \n\"painLevel\": \"[user input]\", \n\"insuranceProvider\":\"[user input]\",\n\"policyNumber\": \"[user input]\", \n\"validityDate\": \"[user input]\",\n\"emergencyName\": \"[user input]\", \n\"emergencyPhoneNo\": \"[user input]\",\n\"relationship\": \"[user input]\",\n\"patientBookingId\": [user input] \n}\n\nMessage - ```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}\nmessage type:{{ $json.message_type }}"
        }
      },
      "id": "ce687ea8-a936-47d3-975b-2f1bb0b409e5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        -288
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.memory }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        32
      ],
      "id": "45e2e3f5-e542-425e-8392-9cbd34b1a69e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://173.255.192.198:3034/personal-informations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', `pass all PATIENT INTAKE SUMMARY data`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        752,
        0
      ],
      "id": "ff5ce333-d72f-41da-9ea1-65f07b65c96d",
      "name": "intake"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "fill intake form",
          "memory": "919067335884"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "intake": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a73966c8-884c-4e50-b862-1c02ee437874",
  "meta": {
    "instanceId": "f2969ff032508a459948d2b3c5f83ba7dd4c3f7f12dfe2eaa2f07527fa7aa0b8"
  },
  "id": "UMgxGdRLgDiQ0dsZ",
  "tags": []
}