n8n orchec/medical summary connect.json
{
  "name": "medical summary connect",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "d6925102-9603-46b5-9f2a-478cdab87be4",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -1632,
        800
      ],
      "webhookId": "0b1b3a9b-2f6a-4f5a-8385-6365d96f4802",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "25JD1aTdJS8Y1Ejd",
          "name": "Suraj"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f908851-4ba8-4558-a8da-30ec1037d356",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        432
      ],
      "typeVersion": 3.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Medical Report Summary Agent Prompt\n\n## Objective\nCreate a comprehensive, standardized summary of medical reports from various formats (laboratory results, diagnostic imaging, clinical assessments, discharge summaries, or specialist consultations) while maintaining medical accuracy and clinical relevance.\n\n## Input Processing Instructions\n\n### 1. Patient Information Extraction\n- **Patient Demographics**: Name, age, gender, weight, height (if available)\n- **Contact Information**: Address, phone number (when present)\n- **Patient ID**: Medical record numbers, hospital registration numbers\n- **Report Date**: Date of examination/test and report generation date\n\n### 2. Healthcare Provider Information\n- **Primary Physician**: Name, credentials, department/specialty\n- **Reporting Physician/Technician**: Name, credentials, specialty\n- **Medical Facility**: Hospital/clinic name, department, address, contact information\n- **Report Reference Numbers**: Case numbers, accession numbers, study IDs\n\n### 3. Clinical Context\n- **Reason for Examination**: Clinical indication, referring physician's concerns\n- **Clinical History**: Relevant medical history, previous conditions\n- **Current Symptoms**: Presenting complaints or clinical signs\n- **Previous Studies**: Related prior examinations or tests for comparison\n\n### 4. Examination/Test Details\nFor each medical report type, extract:\n\n#### Laboratory Reports:\n- **Test Panel**: Complete blood count, metabolic panel, specific markers\n- **Sample Information**: Collection date/time, specimen type\n- **Results**: Values with reference ranges and units\n- **Critical Values**: Abnormal findings requiring immediate attention\n\n#### Diagnostic Imaging:\n- **Study Type**: X-ray, CT, MRI, ultrasound, nuclear medicine\n- **Body Region**: Anatomical area examined\n- **Contrast Information**: Type and administration method (if used)\n- **Technical Parameters**: Imaging protocols, sequences\n\n#### Clinical Assessments:\n- **Physical Examination**: Vital signs, system-specific findings\n- **Mental Status**: Cognitive assessment, psychological evaluation\n- **Functional Assessment**: Mobility, activities of daily living\n\n### 5. Findings and Results\n- **Normal Findings**: Systems or parameters within normal limits\n- **Abnormal Findings**: Specific abnormalities with measurements/descriptions\n- **Comparison Studies**: Changes from previous examinations\n- **Incidental Findings**: Unexpected discoveries unrelated to primary indication\n\n### 6. Clinical Interpretation\n- **Primary Diagnosis**: Main clinical findings or confirmed diagnoses\n- **Differential Diagnosis**: Alternative possible diagnoses\n- **Clinical Significance**: Impact on patient care and treatment\n- **Recommendations**: Follow-up studies, referrals, treatment suggestions\n\n## Output Format Requirements\n\n### Summary Structure:\n```\n**MEDICAL REPORT SUMMARY**\n\n**Patient Information:**\n- Name: [Patient Name]\n- Age/Gender: [Age]/[Gender]\n- MRN: [Medical Record Number]\n- Report Date: [Date of Report]\n- Facility: [Medical Facility Name]\n\n**Report Details:**\n- Type: [Laboratory/Imaging/Clinical Assessment]\n- Ordering Physician: Dr. [Physician Name]\n- Reporting Physician: Dr. [Physician Name], [Specialty]\n- Clinical Indication: [Reason for examination]\n\n**Clinical History:**\n- [Relevant medical history and symptoms]\n- [Previous related studies]\n\n**Examination/Test Performed:**\n- Study/Test: [Specific examination or test name]\n- Date/Time: [When performed]\n- Technical Details: [Relevant technical information]\n\n**Key Findings:**\n**Normal Findings:**\n- [List of normal parameters/systems]\n\n**Abnormal Findings:**\n- [Specific abnormalities with measurements]\n- [Critical values flagged]\n- [Comparison with previous studies]\n\n**Clinical Interpretation:**\n- Primary Findings: [Main diagnostic conclusions]\n- Clinical Significance: [Impact on patient care]\n- Differential Considerations: [Alternative diagnoses if applicable]\n\n**Recommendations:**\n- [Follow-up studies needed]\n- [Specialist referrals]\n- [Treatment considerations]\n- [Timing for next evaluation]\n\n**Report Status:** [Final/Preliminary/Amended]\n```\n\n## Processing Guidelines\n\n### 1. Medical Accuracy Requirements\n- Preserve exact medical terminology and measurements\n- Maintain original units and reference ranges\n- Double-check critical values and abnormal findings\n- Flag any inconsistencies or unclear information\n\n### 2. Clinical Relevance\n- Prioritize clinically significant findings\n- Distinguish between major and minor abnormalities\n- Contextualize findings within patient's clinical history\n- Highlight urgent or critical results requiring immediate attention\n\n### 3. Format Standardization\n- Convert complex medical data into organized, readable format\n- Standardize medical abbreviations (expand when necessary)\n- Organize findings by clinical significance\n- Maintain logical flow from examination to interpretation\n\n### 4. Completeness Verification\n- Ensure all test results are included\n- Check that reference ranges are provided\n- Verify that clinical correlation is addressed\n- Confirm recommendations are specific and actionable\n\n## Special Handling Instructions\n\n### For Laboratory Reports:\n- Group related tests logically (e.g., liver function, kidney function)\n- Highlight critical values and panic values\n- Include reference ranges for all numerical results\n- Note any interfering factors or collection issues\n\n### For Imaging Studies:\n- Describe anatomical structures systematically\n- Quantify abnormalities when measurements provided\n- Compare with prior studies when available\n- Include technical limitations that may affect interpretation\n\n### For Clinical Assessments:\n- Organize by body systems or functional domains\n- Include scoring systems or standardized assessments used\n- Note any limitations in examination (patient cooperation, etc.)\n- Preserve timeline of symptom development\n\n### For Discharge Summaries:\n- Summarize hospital course chronologically\n- Include admission and discharge diagnoses\n- List procedures performed during stay\n- Outline discharge medications and follow-up plans\n\n## Error Handling and Quality Flags\n- If values are unclear: [VALUE UNCLEAR - REQUIRES VERIFICATION]\n- If critical information missing: [MISSING: specify information needed]\n- If findings require urgent attention: [CRITICAL FINDING - IMMEDIATE ATTENTION REQUIRED]\n- If report is preliminary: [PRELIMINARY REPORT - FINAL INTERPRETATION PENDING]\n\n## Output Quality Standards\n- Professional medical language appropriate for healthcare providers\n- Clear distinction between objective findings and clinical interpretation\n- Comprehensive coverage while maintaining readability\n- Logical organization that supports clinical decision-making\n- Preservation of all medically significant information\n- Appropriate flagging of urgent or critical findings\n\n## Confidentiality and Compliance\n- Maintain HIPAA compliance in all summaries\n- Preserve only medically necessary patient identifiers\n- Flag any inconsistencies that might affect patient safety\n- Ensure all critical communications are clearly highlighted\n\nThis prompt ensures consistent, accurate, and clinically relevant summarization of medical reports while maintaining professional medical standards and supporting optimal patient care.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "c79cc782-15ae-4c9c-bcae-dcd07e6dcb4e",
      "name": "Image Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        96,
        336
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{$json.messages[0].image.id }}"
      },
      "id": "0890f27a-112a-4697-a3ee-ccb423dbc1d5",
      "name": "get image url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -128,
        112
      ],
      "typeVersion": 1,
      "webhookId": "e8841412-a27b-4d4e-a2a4-96f5cacf8177",
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "36953a42-3e68-4c1d-8d74-a3f5b2f319d2",
      "name": "download image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        208,
        0
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text || $json.messages[0].text.body || $('WhatsApp Trigger').item.json.messages[0].text.body}}",
        "options": {
          "systemMessage": "you are a medical report summary agent\nyour work is to summarise the report in simple language to understand to patient"
        }
      },
      "id": "70bb51bb-5a2a-4a37-a9e3-27b8e8b07740",
      "name": "summeries report",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        944,
        432
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.ai_response ||$json.output }}",
        "additionalFields": {}
      },
      "id": "c412cd8b-acae-4a3c-a6aa-bc3561f98325",
      "name": "output",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1600,
        48
      ],
      "typeVersion": 1,
      "webhookId": "77a0150a-8819-49b2-88c7-ab75560f62e7",
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id}}"
      },
      "id": "b9b188e5-a0b6-4a12-908c-89fa3581fb30",
      "name": "get pdf url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -464,
        384
      ],
      "typeVersion": 1,
      "webhookId": "e8841412-a27b-4d4e-a2a4-96f5cacf8177",
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "2ed60bae-1394-469d-b275-69cd5e249907",
      "name": "download pdf",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -48,
        592
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        592
      ],
      "id": "dff76512-e68e-496a-94dc-443cb67ea599",
      "name": "extraction pdf"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c21610ea-493d-4fa0-8112-260459cd4a95",
      "name": "image chat model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1344,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "JoNhtaXNtsqMpdgv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-tutorial-{{ $json.from }}"
      },
      "id": "c265ffa1-5618-48a8-ba1b-1d18740daead",
      "name": "memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1488,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log_session_id",
              "name": "session_id",
              "type": "string",
              "value": "={{$('Get User\\'s Message').item.json.session_id}}"
            },
            {
              "id": "log_timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $('Get User\\'s Message').item.json.timestamp}}"
            },
            {
              "id": "log_user_phone",
              "name": "user_phone",
              "type": "string",
              "value": "={{ $('Get User\\'s Message').item.json.from}}"
            },
            {
              "id": "log_message_type",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Get User\\'s Message').item.json.message_type}}"
            },
            {
              "id": "log_input_text",
              "name": "input_text",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text?.body || 'Non-text message' }}"
            },
            {
              "id": "log_ai_response",
              "name": "ai_response",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "log_processing_status",
              "name": "processing_status",
              "type": "string",
              "value": "SUCCESS"
            },
            {
              "id": "log_response_length",
              "name": "response_length",
              "type": "number",
              "value": "={{ String($json.output).length }}"
            },
            {
              "id": "log_workflow_execution_id",
              "name": "workflow_execution_id",
              "type": "string",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04d9a0c8-d0a7-4ac2-8e46-3b58fe54554e",
      "name": "Prepare Success Log",
      "type": "n8n-nodes-base.set",
      "position": [
        1760,
        240
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyCdPU5amX4bKyeNR0nCzj1v5aC2DA6N3eQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\":{{ JSON.stringify($json.text) }}\n\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        432
      ],
      "id": "c68394b4-986a-4b9a-b8b4-ea24ac084f28",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "id": "88892271-1096-4674-8047-56d3ab1b2038",
      "name": "get image url1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1168,
        752
      ],
      "typeVersion": 1,
      "webhookId": "e8841412-a27b-4d4e-a2a4-96f5cacf8177",
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "fba1f415-7e19-46f7-8433-8fb97aecd898",
      "name": "download image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -336,
        720
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f935d3b2-58f5-4dce-9199-cb33415dbf72",
                    "leftValue": "={{ $json.messages[0].image.mime_type == \"image/jpeg\"}}",
                    "rightValue": "\"image\"",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9370f07-f235-4ac6-bc5b-f9013a13fad5",
                    "leftValue": "={{ $json.file_type ==\"application/pdf\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e7796c9-9fc3-450f-aecb-b251ac14665f",
                    "leftValue": "={{ $json.file_type == \"image/jpeg\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8078c708-477b-47c1-934a-edd27a9e7381",
                    "leftValue": "={{ $json.messages[0].type==\"text\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "cad9cb72-bcfa-45ef-9a57-db8fe9e5e6d3",
      "name": "switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -784,
        208
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=When the user message indicates they want to see or know about their medical report, call the connected 'search' tool to retrieve the report data from the 'medical report' collection in MongoDB. Ensure the query includes a filter for the user's phone number (user_phone) using the value from {{ $json.messages[0].from }} to only return the current user's report.\n\nExamples of user messages:\n\n\"I want to know about my report\"\n\n\"show my report\"\n\n\"report data\"\n\n\"what's in my report\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1168,
        -64
      ],
      "id": "ab4e7441-15c6-4ea2-bd18-0c967c2ab55c",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -592,
        -32
      ],
      "id": "c2fd7c1f-f157-4ac3-aa60-b1471d96b026",
      "name": "Wait",
      "webhookId": "d3581b60-b89f-4d99-8f70-f171121905d9"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "⏳ We are processing your request, please wait a moment...",
        "additionalFields": {}
      },
      "id": "493f3a30-e423-401a-8c79-b98db93de6da",
      "name": "Send Wait Message3",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -32,
        -96
      ],
      "typeVersion": 1,
      "webhookId": "b7b2a928-229b-4b52-b35b-f3ad0e446c6f",
      "credentials": {
        "whatsAppApi": {
          "id": "ZrlWhery0a9U2IJT",
          "name": "Suraj"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        384
      ],
      "id": "e4a31838-7224-43ed-aeac-3f62b7164a8c",
      "name": "Wait1",
      "webhookId": "d3581b60-b89f-4d99-8f70-f171121905d9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -736,
        544
      ],
      "id": "eff07b4e-1023-4b41-a6e7-bc4eb2f571f4",
      "name": "Wait2",
      "webhookId": "d3581b60-b89f-4d99-8f70-f171121905d9"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "file_url"
            },
            {
              "name": "file_type"
            },
            {
              "name": "memory"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1264,
        256
      ],
      "id": "1ad52c37-589a-4f3d-9345-33313a6d80ef",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "summarize the medical report",
          "file_url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=1944557066395317&ext=1756116047&hash=ARnu5HhCqleHYJKhABJotGlfMPUqBjpxdYjeYSpWfD4Pcg",
          "file_type": "image/jpeg",
          "memory": "919067335884"
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        []
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "summeries report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get image url": {
      "main": [
        [
          {
            "node": "download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download image": {
      "main": [
        [
          {
            "node": "Image Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summeries report": {
      "main": [
        []
      ]
    },
    "get pdf url": {
      "main": [
        []
      ]
    },
    "download pdf": {
      "main": [
        [
          {
            "node": "extraction pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraction pdf": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image chat model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "summeries report",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memory": {
      "ai_memory": [
        [
          {
            "node": "summeries report",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Log": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get image url1": {
      "main": [
        []
      ]
    },
    "download image1": {
      "main": [
        [
          {
            "node": "Image Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send Wait Message3",
            "type": "main",
            "index": 0
          },
          {
            "node": "get image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "download pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "download image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "471bad47-73c2-477d-a2b6-7ae295afa460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2969ff032508a459948d2b3c5f83ba7dd4c3f7f12dfe2eaa2f07527fa7aa0b8"
  },
  "id": "he4FCBahK5WAU0jM",
  "tags": []
}